*{
    
    
    margin: 0;
    padding: 0;
}
body{
    background: rgba(0, 255, 235, 0.07);
}
.wrapper {
    display: flex;
    width: 90%;
    
/*    width: 900px;*/
/*    height: 700px;*/
    margin: 0 auto;
    justify-content: center;
    }

.wrap30 {
    width: 30%;
    perspective: 800px;
    /*    background: rgba(0, 0, 255, 0.42);*/
    
/*    position: absolute;*/
/*    margin-left: 100px;*/
    flex-direction: row;
    flex-basis: auto;
    align-items: center;

}


#cube {
    top: 250px;
    left: 10px;
    position: relative;
    width: 150px;
    height: 150px;
    transform-origin: 50% 50% -75px;
    transform: rotate3d(1, 1, 1, 200deg);
    transform-style: preserve-3d;

}

.side {
    width: 150px;
    height: 150px;
    background: rgb(0, 206, 255);
    background: radial-gradient(rgba(37, 217, 204, 0.52), rgba(40, 0, 255, 0.75));

    position: absolute;
    border: 5px solid rgba(17, 13, 65, 0.89);
    border-radius: 10px;
    font-size: 2em;
    color: #fff;
    line-height: 150px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 0 6px rgb(14, 30, 152);
    transform-origin: 50% 50% -75px;
    backface-visibility: hidden;
    transition: .2s;


}

.side:hover {
    background: rgba(0, 255, 255, 0.28);
}



#side2 {
    transform: rotateY(90deg);
}

#side3 {
    transform: rotateY(-90deg);
}

#side4 {
    transform: rotateX(90deg);
}

#side5 {
    transform: rotateX(-90deg);
}

#side6 {
    transform: rotateY(180deg);
}




#wrap70 {
    position: relative;
    width: 100%;
    
    /*    background: rgba(46, 46, 157, 0.28);*/
    
    
}

/*
.clear {
    clear: right;
}
*/


._about h1 {
    position: absolute;
    width: 500px;
    text-align: center;
    top: 300px;
    left: 200px;
    color: red;

}

._home h1 {
    position: absolute;
    width: 500px;
    text-align: center;
    top: 300px;
    left: 200px;
    color: red;

}

._3 h1 {
    position: absolute;
    width: 500px;
    text-align: center;
    top: 300px;
    left: 200px;
    color: red;
}

._Portfolio h1 {
    position: absolute;
    width: 500px;
    text-align: center;
    top: 300px;
    left: 200px;
    color: red;
    transition: 1s;
}

._Contacts h1 {
    position: absolute;
    width: 500px;
    text-align: center;
    top: 300px;
    left: 200px;
    color: red;
    transition: 1s;
}


._nw h1 {
    position: absolute;
    width: 500px;
    text-align: center;
    top: 300px;
    left: 200px;
    color: red;
    transition: 1s;

}


.show {
    opacity: 1;
    display: block;
    transition: 1s;


}

.hide {
    opacity: 0;
    display: none;
    transition: 1s;

}

section {
    width: 100%;
    transition: .2s;

}

#wrap70 > .vr1 {
    background: rgba(255, 0, 0, 0.31);
    height: 700px;
    position: absolute;
    


}


#wrap70 > .vr2 {
    background: rgba(69, 255, 0, 0.31);
    height: 700px;
    position: absolute;
     
}

#wrap70 > .vr3 {
    background: rgba(0, 255, 216, 0.31);
    height: 700px;
    position: absolute;
    
}

#wrap70 > .vr4 {
    background: rgba(0, 39, 255, 0.31);
    height: 700px;
    position: absolute;
    
}

#wrap70 > .vr5 {
    background: rgba(235, 0, 255, 0.31);
    height: 700px;
    position: absolute;
    
}

#wrap70 > .vr6 {
     
    background: rgba(107, 160, 212, 0.31);
    height: 700px;
    position: absolute;
   
}


.wr{
    width: 800px;
    border: 1px solid blue;
    position: relative;
}

.foto{
    width: 400px;
    border-radius: 50%;
    border: 1px solid blue;
    position: relative;
}

.minimenu{
    width: 300px;
    border: 1px solid blue;
    position: relative;
}

.info{
    border: 1px solid blue;
    position: relative;
}
.minimenu p:hover {
    background: blue;
}



/*tabs start*/
#tabs{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#tabs .tab{
    
    width: 150px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    
}

#tabs .whiteborder{
    border: 5px solid #0089ff;
    border-bottom: 1px solid #5d1bdb;
    border-radius: 3px 3px 0 0;
}

#tabs .tabContent{
    width: 300px;
    height: 60px;
    border: 1px solid #707070;
    position: relative;
    
    z-index: 1;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    
}

#tabs .hide{
    display: none;
}

#tabs .show{
    display: block;
}
/*tabs end*/


/*slide start*/
#slides{
    position: relative;
    height: 300px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    z-index: 1;
    transition:  .1s .1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}
/*slider end*/
